/*Sección About*/
div.about__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap:10px;
}
h3.about__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    align-self: flex-start;
    padding: 8px;
    color: #464646;
}
p.about__parragraph{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    color: #464646;
}
