header{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.logo-img{
    height: 22px;

}
.titulo-menu{
    
}

.menu__list{
    display:none;
}
.menu__list li a{
    color:  #464646;

}
@media (min-width:1024px){
    header{
        padding: 20px 100px;
    }
    .logo{
        font-size:16px;
    }
    .menu__list{
        display:flex;
        flex-direction: row;
        font-size: 16px;
        gap:10px;
    }
    .menu__list__item__c{
        display: none;
    }

}