/*Sección Title*/

.title{
    display: flex;
    flex-direction: column;
}
.title__div{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap:16px;

}
img.title__profile{
    width: 98px;    
}